<body>
  <h1>Edit Your Credentials</h1>
  <form class="" action="/sessions/update/<%=session['current_user']['id']%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Name</label>
    <input type="text" name="user[name]" value="<%= @user['name'] %>">
    <label>Email</label>
    <input type="text" name="user[email]" value="<%= @user['email'] %>">
    <input type="submit" value="Edit Credentials">
  </form>
  <form class="" action="/sessions/destroy/<%=session['current_user']['id']%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" name="" value="DELETE YOUR ACCOUNT">
  </form>
  <a href="/sessions/application">Home</a>
</body>
